In [6]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# Define your database credentials
db_config = {
    'user': 'root',
    'password': 'Sourabh97@',
    'host': 'localhost',
    'database': 'alumni'
}

def connect_to_db():
    """Establish a database connection and return the connection object."""
    try:
        connection = mysql.connector.connect(**db_config)
        if connection.is_connected():
            return connection
    except Error as e:
        print(f"Error: {e}")
        return None

def truncate_table(table_name):
    """Truncate the specified table."""
    try:
        connection = connect_to_db()
        if connection:
            cursor = connection.cursor()
            cursor.execute(f"TRUNCATE TABLE {table_name}")
            connection.commit()
            print(f"Table {table_name} truncated successfully!")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

def insert_into_table(table_name, data):
    """Insert data into the specified table."""
    try:
        connection = connect_to_db()
        if connection:
            cursor = connection.cursor()
            cols = ", ".join(data.columns)
            vals = ", ".join(["%s"] * len(data.columns))
            query = f"INSERT INTO {table_name} ({cols}) VALUES ({vals})"
            for row in data.itertuples(index=False):
                cursor.execute(query, tuple(row))
            connection.commit()
            print(f"Data inserted successfully into {table_name}!")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

def update_table(table_name, set_clause, where_clause):
    """Update the specified table with the given set and where clauses."""
    try:
        connection = connect_to_db()
        if connection:
            cursor = connection.cursor()
            query = f"UPDATE {table_name} SET {set_clause} WHERE {where_clause}"
            cursor.execute(query)
            connection.commit()
            print(f"Table {table_name} updated successfully!")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

Table college_a_hs truncated successfully!
Data inserted successfully into college_a_hs!

In [13]:

def read_csv_with_encoding(csv_file_path):
    """Read a CSV file with different encodings until successful."""
    encodings = ['utf-8', 'latin1', 'ISO-8859-1']
    for encoding in encodings:
        try:
            return pd.read_csv(csv_file_path, encoding=encoding)
        except UnicodeDecodeError:
            continue
    raise UnicodeDecodeError(f"Unable to decode the file {csv_file_path} with tried encodings.")

In [15]:

def process_csv_to_table(table_csv_dict):
    """Process each CSV file and load its data into the corresponding table."""
    for table, csv_file_path in table_csv_dict.items():
        df = read_csv_with_encoding(csv_file_path)

        df = df.fillna('')

        truncate_table(table)

        
        insert_into_table(table, df)

In [16]:


table_csv_dict = {
    'college_a_hs': 'College_A_HS.csv',
    'college_a_se': 'College_A_SE.csv',
    'college_a_sj': 'College_A_SJ.csv',
    'college_b_hs': 'College_B_HS.csv',
    'college_b_se': 'College_B_SE.csv'
    'college_b_sj': 'College_B_SJ.csv'
    
}


process_csv_to_table(table_csv_dict)

Table college_b_sj truncated successfully!
Data inserted successfully into college_b_sj!

In [17]:
def display_first_rows(table_names,num):
    try:
        connection = connect_to_db()
        if connection:
            for table in table_names:
                query = f"SELECT * FROM {table} LIMIT {num}"
                df = pd.read_sql(query, connection)
                print(f"\nFirst {num} rows of table {table}:\n")
                print(df.head(num))
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            connection.close()

In [18]:
# Display the first 1000 rows of specified tables
table_names = ['college_a_hs', 'college_a_se', 'college_a_sj', 'college_b_hs', 'college_b_se', 'college_b_sj']
display_first_rows(table_names,1000)

First 1000 rows of table college_a_hs:

           RollNo LastUpdate                    Name              FatherName  \
0      1620981075  26-Jun-18         SHREYA AGGARWAL           AJAY AGGARWAL
1      1620981182  28-Jun-18          PRIYASHA RABRA     SURINDER PAL RABRA
2      1620981189  29-Jun-18    RAVNEET KAUR MULTANI  SURINDER SINGH MULTANI
3    CUN130104079  17-Jul-18          INDERJIT SINGH          BHARPOOR SINGH
4    CUN110104086  17-Jul-18            RAHUL BANSAL           RAJESH BANSAL
..            ...        ...                     ...                     ...
995    1720991658  17-Feb-21         VANSHIKA MADAAN     SATISH KUMAR MADAAN
996    1410991519  23-Feb-21  SANDEEP KUMAR KUSHWAHA            N S KUSHWAHA
997    1410991717  23-Feb-21          ASHIMA MAHAJAN                VIRENDER
998    1410991468  23-Feb-21           RISHABH GOYAL    HARINDER KUMAR GOYAL
999    1610991817  23-Feb-21           SHIVNEET KAUR            JAGSIR SINGH

                MotherName       Batch      Degree   PresentStatus  \
0          SHIPRA AGGARWAL     MBA2016      MBA-HR  Higher Studies
1              ASHA RABRA      MBA2016      MBA-IB  Higher Studies
2    SAVINDER KAUR MULTANI     MBA2016      MBA-IB  Higher Studies
3             KULDEEP KAUR      BE2013          BE  Higher Studies
4           SANGITA BANSAL      BE2011          BE  Higher Studies
..                     ...         ...         ...             ...
995           KIRAN MADAAN  B.COM-2017  BCOM(HONS)  Higher Studies
996          TARA KUSHWAHA      BE2014          BE  Higher Studies
997                  VIPEN      BE2014          BE  Higher Studies
998            SUMAN GOYAL      BE2014          BE  Higher Studies
999            NAVJOT KAUR      BE2016          BE  Higher Studies

                                HSDegree EntranceExam  \
0                            Naturopathy
1                              CA Finals          CPT
2                                Banking      Bank PO
3                  Masters of engneering        IELTS
4                                    M.E         GATE
..                                   ...          ...
995                                  MBA
996
997                                  MBA    CAT; SNAP
998                                  MBA          CAT
999  MASTER'S IN BUSINESS ADMINISTRATION

                                        Institute     Location
0                                                       Delhi
1                                            ICAI     Patiala
2                                             Ibs  Chandigarh
3                       Western Sydney University      Sydney
4                                          NITTTR  CHANDIGARH
..                                            ...          ...
995                       IMS ENGINEERING COLLEGE   Ghaziabad
996                         University of Bologna       Italy
997                                                Chandigarh
998                                  IIM KASHIPUR    Kashipur
999  SHAHEED UDHAM SINGH AND TECHNOLOGY INSTITUTE      Mohali

[1000 rows x 12 columns]

First 1000 rows of table college_a_se:

           RollNo LastUpdate                   Name            FatherName  \
0      1620981304  29-Jun-18            ANKUR TURAN        RAMKUMAR TURAN
1      1620981185  29-Jun-18        RAGINI MALHOTRA        UMESH MALHOTRA
2      1440991217  08-Jul-18   VIKASH KUMAR MISHRA   KAMAL KISHORE MISHRA
3      1440991215  16-Jul-18           SHREYAS H L             LINGAIAH D
4      1460991002  17-Jul-18         ADITYA CHANDEL      NARVIR S.CHANDEL
..            ...        ...                    ...                   ...
995    1730991078  08-Apr-21  KEZANG TASHI WANGCHUK      THINLAY WANGCHUK
996    1730991074  08-Apr-21            KARAN UPPAL          SATISH UPPAL
997    1610991974  08-Apr-21           VISHAL VERMA   VIJAY BAHADUR VERMA
998  CUN110102027  08-Apr-21         AYUSH AGGARWAL  VIPIN KUMAR AGGARWAL
999  CUN110301113  09-Apr-21       TEJAL JOT BADWAL      INDERPREET SINGH

           MotherName         Batch     Degree  PresentStatus  \
0       SANTOSH TURAN       MBA2016  MBA-L&SCM  Self Employed
1     VANDNA MALHOTRA       MBA2016    MBA-F&B  Self Employed
2      KANCHAN MISHRA     B.Sc-2014  BOPTO EXE  Self Employed
3          YASHODAMMA     B.Sc-2014  BOPTO EXE  Self Employed
4      SUNITA CHANDEL  BA(JMC)-2015    BA(JMC)  Self Employed
..                ...           ...        ...            ...
995   TSHERING WANGMO   BHMCTCU2017    B.SC.HA  Self Employed
996       KUSUM UPPAL   BHMCTCU2017    B.SC.HA  Self Employed
997         ARTI DEVI        BE2016         BE  Self Employed
998    REENA AGGARWAL        BE2011         BE  Self Employed
999  MEENAKSHI BADWAL      BARC2011       BARC  Self Employed

                   Organization           Location
0           Mahadev pharmatical          Parwanoo
1      Malhotra Silk and Sarees       Garhshankar
2                  Cloth center          Auliabad
3                        Formar         Hosahalli
4                  Black Ethics        Chandigarh
..                          ...                ...
995       Restaurant - Training    Thimphu Bhutan
996  Father's Business  - Owner           Panipat
997       Enthu.ai - Co-Founder        Chandigarh
998       Own venture - Partner  Himachal Pradesh
999            TEE27 ARCHITECTS            Kharar

[1000 rows x 10 columns]

First 1000 rows of table college_a_sj:

         RollNo LastUpdate                    Name              FatherName  \
0    1620981253  26-Jun-18            ANIL DHAYANI            B.D. DHAYANI
1    1620981273  26-Jun-18           RIDHINA GUPTA            RAJESH GUPTA
2    1620981264  26-Jun-18              JATIN GARG      BRINDER KUMAR GARG
3    1620981168  28-Jun-18               JASPREET               BUTA SINGH
4    1620981063  28-Jun-18                MANISHA              ASHOK KUMAR
..          ...        ...                     ...                     ...
995  1410991589  15-May-19       SIDHARTH BHANDARI        SANDEEP BHANDARI
996  1410991188  15-May-19                  DIVYA             SURESH KUMAR
997  1410991698  15-May-19            ZUBIN BHASIN    SATYA BHUSHAN BHASIN
998  1410991037  15-May-19            AJAY CHAUHAN        RAMPREET CHAUHAN
999  1630991210  15-May-19  LOVEPREET SINGH CHEEMA  BALJINDER SINGH CHEEMA

               MotherName      Batch      Degree PresentStatus  \
0         Sushila Dhayani    MBA2016      MBA-HC   Service/Job
1          SANGEETA GUPTA    MBA2016      MBA-HC   Service/Job
2    RAVINDER KUMARI GARG    MBA2016      MBA-HC   Service/Job
3           SUKHDEEP KAUR    MBA2016     MBA-F&B   Service/Job
4               USHA RANI    MBA2016      MBA-HR   Service/Job
..                    ...        ...         ...           ...
995       POONAM BHANDARI     BE2014          BE   Service/Job
996           SUSHMA RANI     BE2014          BE   Service/Job
997               RUPIKA      BE2014          BE   Service/Job
998        SUNITA CHAUHAN     BE2014          BE   Service/Job
999          MANJEET KAUR  BHMCT2016  BHMCT(GBC)   Service/Job

                                  Organization                 Designation  \
0                                      Defence             Defence Officer
1                 Kare Partners Group of India        Operations Executive
2                                 Ids infotech              Medical scribe
3                                    Axis Bank           Assistant manager
4                                      U trade                HR Executive
..                                         ...                         ...
995                                        Oyo          Software developer
996             Informatica Business Solutions                      Intern
997                             Code Brew Labs  Software Developer Trainee
998  Innovation Technology By Design Pvt. Ltd.             System Engineer
999                             self employeed              self employeed

        Location
0    Chandigarh
1     Ghaziabad
2        Mohali
3    Chandigarh
4        Mohali
..           ...
995     Gurgaon
996   Bangalore
997  Chandigarh
998  Chandigarh
999      Pehowa

[1000 rows x 11 columns]

First 1000 rows of table college_b_hs:

         RollNo LastUpdate               Name        FatherName  \
0    B130020073  06-Apr-19      Ashish Kumar       Ramesh Kumar
1    b120010300  15-Apr-19      Prince Kamra        Dalip Kamra
2    b120010123  07-May-19  Dhanminder Singh   Sukhminder Singh
3    B110020026  23-May-19    AKHILESH ANAND         ANIL ANAND
4    1411980509  28-May-19      RUPINDER KAUR      GURDEV SINGH
..          ...        ...                ...               ...
194  1813986028  02-Jun-21       VIVEK SHARMA     GAURAV SHARMA
195  1711983007  02-Jun-21        ANUJ SHARMA    Pawan K Sharma
196  1813986023  02-Jun-21       SHUBHAM GARG       SATISH GARG
197  1711980704  02-Jun-21       KUNAL SHARMA     RAJESH SHARMA
198  1711981053  03-Jun-21         ARNAV GOEL       NEERAJ GOEL

         MotherName                                     Branch       Batch  \
0      Purnima Devi  Electronics and Communication Engineering  Batch 2013
1      Sushma Kamra           Computer Science and Engineering  Batch 2012
2    Ramandeep Kaur           Computer Science and Engineering  Batch 2012
3         ANU ANAND  Electronics and Communication Engineering   Batch2011
4    JASWINDER KAUR           Computer Science and Engineering   Batch2014
..              ...                                        ...         ...
194   VINITA SHARMA                       Computer Application    BCA 2018
195    Dolly Sharma                          Civil Engineering  Batch 2017
196     KAVITA GARG                       Computer Application    BCA 2018
197  PROMILA SHARMA                          Civil Engineering  Batch 2017
198      ANITA GOEL           Computer Science and Engineering  Batch 2017

    Degree   PresentStatus                                           HSDegree  \
0       BE  Higher Studies                                                MBA
1       BE  Higher Studies                                            PGDM-BE
2       BE  Higher Studies               PG DIPLOMA IN INTERNATIONAL BUSINESS
3       BE  Higher Studies                          Post Bachelorette Diploma
4       BE  Higher Studies                                   Network security
..     ...             ...                                                ...
194    BCA  Higher Studies                                                MCA
195     BE  Higher Studies  Masters in civil engineering and project manag...
196    BCA  Higher Studies                                                Bca
197     BE  Higher Studies                                            Masters
198     BE  Higher Studies                                                MBA

      EntranceExam                                        Institute  \
0    CMAT;CET;SNAP                                      Great lakes
1             ATMA  Entrepreneurship Development Institute Of India
2            IELTS                       Thompson Rivers university
3            IELTS                                  Douglas College
4            IELTS                                  Lambton college
..             ...                                              ...
194        no test                              Chitkara University
195          IELTS                                              Nil
196                                             Chitkara university
197            nil                                              NIL
198           GMAT                                      Not decided

                    Location
0                     DELHI
1                 Ahmedabad
2                    Canada
3                 Vancouver
4                    Canada
..                       ...
194  Baddi;Himachal Pradesh
195                  Canada
196                   Baddi
197                     NIL
198             Not decided

[199 rows x 13 columns]

First 1000 rows of table college_b_se:

         RollNo LastUpdate                Name             FatherName  \
0    B130010198  26-Mar-19      Nikhil Bhatia            Pawan Bhatia
1    B090020059  24-Apr-19      ANUBHAV GAUTAM          SURESH GAUTAM
2    B130010422  28-Apr-19    Aayush Adhikari   Rudra Prasad Adhikari
3    b120020270  30-Apr-19    Shubhdeep Singh          Rajinder Singh
4    B130010304  08-May-19  Abhishek Dev Goel     Achhvinder Dev Goel
..          ...        ...                 ...                    ...
196  1711981380  01-Jun-21            AMIT SAH         BISHWANATH SAH
197  1711981380  01-Jun-21            AMIT SAH         BISHWANATH SAH
198  1711980506  01-Jun-21       AMIKSHA BATRA             AJIT BATRA
199  1711981342  03-Jun-21             VISHAL               Raj Kumar
200  1711981325  03-Jun-21       TUSHAR SHARMA         SANDEEP SHARMA

               MotherName                                     Branch  \
0           Sunita Bhatia           Computer Science and Engineering
1            SAROJ GAUTAM  Electronics and Communication Engineering
2    Sangitanjali Koirala           Computer Science and Engineering
3                          Electronics and Communication Engineering
4          Meenakshi Goel           Computer Science and Engineering
..                    ...                                        ...
196        MUNESHARI DEVI           Computer Science and Engineering
197        MUNESHARI DEVI           Computer Science and Engineering
198       MEENAKSHI BATRA           Computer Science and Engineering
199           Ranjna Devi           Computer Science and Engineering
200                ANJANA           Computer Science and Engineering

          Batch Degree  PresentStatus                         Organization  \
0    Batch 2013     BE  Self Employed                          Businessman
1     Batch2009     BE  Self Employed                           S.K. Group
2    Batch 2013     BE  Self Employed  Changing technology private limited
3    Batch 2012     BE  Self Employed                      Content Creator
4    Batch 2013     BE  Self Employed             Gurukul Coaching classes
..          ...    ...            ...                                  ...
196  Batch 2017     BE  Self Employed                           Digitalzon
197  Batch 2017     BE  Self Employed                           Digitalzon
198  Batch 2017     BE  Self Employed                       The Alpha Chem
199  Batch 2017     BE  Self Employed                          Freelancing
200  Batch 2017     BE  Self Employed                            Bussiness

                                              Location
0                              Bhota himachal Pradesh
1                                 Sector 20 panchkula
2                                    Kathmandu; Nepal
3    10; Choudhury Colony; Sitharth Nagar; 5-E Chotti
4                                             Sangrur
..                                                 ...
196  56613; BIRATNAGAR (NEPAL)\r\n\r\nwww.facebook....
197  56613; BIRATNAGAR (NEPAL)\r\n\r\nwww.facebook....
198                                      Ambala Cantt
199                                    Work from home
200                                               Una

[201 rows x 11 columns]

First 1000 rows of table college_b_sj:

         RollNo LastUpdate              Name           FatherName  \
0    b120020192  19-Mar-19  Pratibha Kapoor   Amar Prakash Kapoor
1    b120010032  21-Mar-19    Akshat Sharma         Gurdip Sharma
2    B130010238  22-Mar-19    Harsh Kampani        Mukesh Kampani
3    b120020165  23-Mar-19    Navdeep Kumar           Ashok Kumar
4    B130020133  25-Mar-19      Tanya Diwan           Sunil Diwan
..          ...        ...               ...                  ...
995  B130010050  03-Mar-20    Shobhita Jain            Rohit Jain
996  B130010311  03-Mar-20       Abhinandan        Sudhir Dhingra
997  b120010363  03-Mar-20    Shagun Bansal          Lalit Bansal
998  b120010292  03-Mar-20            Pooja   Ishwer Singh Gahlot
999  B080010090  03-Mar-20       Ankita Rana             L R Rana

           MotherName                                     Branch       Batch  \
0           Shakuntla  Electronics and Communication Engineering  Batch 2012
1      Nisha Bhargava           Computer Science and Engineering  Batch 2012
2    Anuradha Kampani           Computer Science and Engineering  Batch 2013
3        Malkeet Rani  Electronics and Communication Engineering  Batch 2012
4      Sangeeta Diwan  Electronics and Communication Engineering  Batch 2013
..                ...                                        ...         ...
995       Poonam Jain           Computer Science and Engineering  Batch 2013
996      Ashu Dhingra           Computer Science and Engineering  Batch 2013
997     Poonam Bansal           Computer Science and Engineering  Batch 2012
998        Saroj Bala           Computer Science and Engineering  Batch 2012
999         Usha Rana           Computer Science and Engineering   BTECH2008

    Degree PresentStatus                    Organization  \
0       BE   Service/Job                        Coaching
1       BE   Service/Job                         College
2       BE   Service/Job                            BETS
3       BE   Service/Job                Brill infosystem
4       BE   Service/Job             Mind Tree Eduvation
..     ...           ...                             ...
995     BE   Service/Job                          Eclerx
996     BE   Service/Job                      BNY Mellon
997     BE   Service/Job  Cognizant Technology Solutions
998     BE   Service/Job                     Infosys Ltd
999     BE   Service/Job                          Amdocs

                     Designation           Location
0                    For banking        Chandigarh
1                      Principal        Chandigarh
2    Training Automation testing  Sector 34-A Chd.
3                  Seo executive        Chandigarh
4                          Admin        Chandigarh
..                           ...                ...
995    Associate Process Manager              Pune
996              Quality Analyst              Pune
997      Senior Systems Engineer              Pune
998           Technology Analyst              Pune
999    Performance test engineer              Pune

[1000 rows x 12 columns]

C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\rajmi\AppData\Local\Temp\ipykernel_6784\306035132.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

Sure, here's a more detailed and impressive LinkedIn post based on the provided project work:

---

💡 Excited to share that I've just completed a comprehensive data analysis project as part of my SKILL-LYNC coursework! This project has been a remarkable journey, challenging me to think critically and apply my skills in innovative ways. 🎓

**Project Overview: Alumni Career Choices Analysis**
📊 Aim: To analyze the career trajectories of alumni from two universities based on their passing year and courses completed.
🔍 Key Objectives:
- Import and structure alumni data from multiple CSV files into a MySQL database.
- Perform rigorous data cleaning and create views for efficient management.
- Utilize SQL string functions for name formatting.
- Visualize alumni location distribution using Excel pivot charts.
- Implement stored procedures to fetch and display alumni names.
- Calculate and compare career choice percentages between the two universities.

**Technologies Used:**
- MySQL for database management
- Python (Jupyter Notebook) for data processing
- MS Excel for data analysis and visualization

**Key Insights & Learnings:**
- Effective data cleaning is crucial for accurate analysis.
- Structured query writing and database management are foundational to handling large datasets.
- Visualizations play a pivotal role in presenting data insights clearly.
- The project has significantly boosted my confidence in SQL and data analysis, and I am eager to apply these skills in future endeavors.

If you're interested in a deeper dive into the project details, feel free to check out my project documentation here: [Project link](https://lnkd.in/dfUFU2-n) 📂

I'm incredibly proud of the progress I've made and grateful for the opportunity to develop these skills. If you'd like to learn more about my experience at SKILL-LYNC or discuss data analysis techniques, feel free to visit my profile: [Profile link](https://lnkd.in/d6yGqgCy) 🌟

#DataAnalysis #SQL #Python #Excel #CareerGrowth #SKILLLYNC #ContinuousLearning

---

Feel free to customize it further to reflect your personal voice and any additional details you'd like to include!